*,
html,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  background-color: $backgroundColor;
}

.main__wrapper {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.container {
  margin-top: 50px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  width: 100%;
  margin-bottom: 150px;
}

@media screen and (max-width: 1200px) {
  .main__wrapper {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1500px) {
  .main__wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 70px;
  }
}

::-webkit-scrollbar {
  border: 2px solid $textPrimary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 10px;
}

.button {
  display: flex;
  align-items: center;
  min-width: fit-content;
  background-color: $primaryColor;
  color: #000;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  .arrowLeft {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }
  .arrowRight {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }
  &--outlined {
    background-color: #000;
    border: 2px solid $primaryColor;
    color: $primaryColor;
  }
  &:hover {
    opacity: 0.7;
  }
}
