.thanks {
  padding-bottom: 50px;
  max-height: 50vh;
  &-header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 100px;
    margin: 0 auto;
    margin-top: 100px;
    img {
      width: 400px;
      height: auto;
      border-radius: 10px;
    }
  }
  &__text {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 20px;
    color: $textPrimary;
    margin-top: 50px;
    b {
      color: $primaryColor;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      color: $textSecondary;
    }
    a {
      margin-top: 20px;
      width: fit-content;
    }
  }
}

@media screen and (max-width: 1500px) {
  .thanks-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 1050px) {
  .thanks-wrapper {
    grid-template-columns: 1fr;
    margin-top: 10px;
    img {
      width: 100%;
    }
  }
}
